.contact {
    display: flex;
    position: absolute;
    width: 10%;
    right: 0;
    top: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact img {
    margin: 10px;
    z-index: 300;
    height: 30px;
    opacity: .6;
    transition: all .4s ease;
}

.contact img:hover {
    opacity: 1;
    transform: scale(1.1);
}

#contact {
    display: none;
    height: auto;
    text-align: center;
    width: 100%;
    background: #101010;
    position: relative;
}

.contact-header {
    height: auto;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 45px;
    font-family: raleway;
    color: whitesmoke;
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 60px;
    font-weight: 900;
}

.contact-header-caption {
    padding: 10px;
    color: whitesmoke;
    opacity: .9;
    font-family: raleway;
    font-size: 18px;
}

.contact-content {
    width: 90%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contact-form {
    height: 550px;
    padding-right: 40px;
    width: 60%;
    display: flex;
    flex-direction: column;
}

.contact-info-header {
    position: relative;
    z-index: 2;
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    color: whitesmoke;
    padding: 30px;
}


.contact-info-icon-text {
    color: whitesmoke;
    padding: 15px;
    font-family: Montserrat;
}

.contact-info-icon-text h6 {
    font-size: 15px;
    opacity: .8;
}

.contact-info-icon-text p {
    font-size: 14px;
    opacity: .7;
}


.contact-class{
    width: 80%;
    margin: 0 auto;
}

.contact-info {
    width: 100%;
    height: 500px;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    margin-bottom: 50px;
    position: relative;
    overflow: hidden;
}

.contact-info::before {
    content: "";
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #2b2a2a;
    opacity: .8;
    pointer-events: none;
}

.contact-info-content {
    max-width: 20%;
    margin: 0 auto;
}

.contect-info-content-line {
    width: 100%;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
    text-align: center;
}