@import url('https://fonts.googleapis.com/css?family=Raleway:300&display=swap');
@import url('https://fonts.googleapis.com/css?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

@import url("about.css");
@import url("adaptive.css");
@import url("contact.css");
@import url("login.css");
@import url("reset.css");
@import url("navbar.css");
@import url("schedule.css");

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: "Montserrat";
}

::-webkit-scrollbar {
    width: 4px;
    font-family: Montserrat;
    color: #c70039;
    transition: all .4s ease;
}

::-webkit-scrollbar-thumb {
    background: #c70039;
    border-radius: 4px;
    width: 4px;
    transition: all .4s ease;
}

::-webkit-scrollbar-track {
    background: #101010;
    border-radius: 4px;
    width: 4px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
    background: #101010;
}

body {
    user-select: none;
    height: auto;
    overflow-x: hidden;
    width: 100%;
    background: #171717;
}

/* 
    Загрузчик
*/

#loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    position: fixed;
    z-index: 100;
    font-family: Montserrat;
    background-color: #202020;
    color: whitesmoke;
    font-size: 70px;
    width: 100%;
}

/* 
    Контейнер home
*/
#header {
    background: #171717;
    height: 100vh;
    width: 100%;
    ;
    overflow: hidden;
    animation: scale 1.5s ease;
    position: relative;
    display: block;
}

.logo img {
    height: 80px;
    position: absolute;
    top: 3%;
    left: 2.5%;
    opacity: .8;
    z-index: 2;
    cursor: pointer;
}

#navigation-bar img {
    height: 80px;
    position: absolute;
    top: 15%;
    left: 2.5%;
    opacity: .8;
}

.header-image img {
    height: 100vh;
    float: right;
}

.header-image {
    float: right;
    height: auto;
    background-size: cover;
    background-position: center;
    width: 40%;
    height: 100vh;

}

.header-content {
    height: 100vh;
    width: 100%;
    float: left;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-family: raleway;
    font-weight: 400;
    letter-spacing: 1px;
    flex-direction: column;
    font-size: 50px;
    z-index: 1;
}

.header-content-box {
    z-index: 2;
    text-align: center;
    height: auto;
    padding-right: 60px;
    width: auto;

}

.header-content .firstline {
    z-index: 2;
    font-weight: 700;
    font-family: Montserrat;
    font-size: 65px;
}

.header-content .secondline {
    z-index: 2;
    font-size: 30px;
    padding-top: 20px;
    font-weight: 500;
    color: rgb(255, 255, 255, .8);
}

.slash {
    animation-name: animateslash;
    animation-duration: .8s;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@keyframes animateslash {
    0% {
        opacity: 1;
        z-index: 2;
    }

    100% {
        opacity: 0;
        z-index: 0;
    }
}

@-webkit-keyframes animateslash {
    0% {
        opacity: 1;
        z-index: 2;
    }

    100% {
        opacity: 0;
        z-index: 0;
    }
}

.social-media-links {
    height: 100vh;
    position: absolute;
    z-index: 2;
    padding: 60px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.social-media {
    color: white;
    width: 30px;
    ;
    opacity: .6;
    margin: 8px;
    transition: all .4s ease;
}

.social-media:hover {
    opacity: 1;
    transform: scale(1.1);
}


@keyframes breakeranimate {
    0% {
        transform: translateX(-150%) rotate(15deg) translateY(-50%);
    }

    50% {
        transform: translateX(0%) rotate(15deg) translateY(-50%);
    }

    100% {
        transform: translateX(150%) rotate(15deg) translateY(-50%);
    }
}

@-webkit-keyframes breakeranimate {
    0% {
        transform: translateX(-150%) rotate(15deg) translateY(-50%);
    }

    50% {
        transform: translateX(0%) rotate(15deg) translateY(-50%);
    }

    100% {
        transform: translateX(150%) rotate(15deg) translateY(-50%);
    }
}

.color {
    color: #c70039;
    transition: all .4s ease;
}

@keyframes scale {
    0% {
        transform: scale(.6);
    }

    100% {
        transform: scale(1);
    }
}

@-webkit-keyframes breakeranimate {
    0% {
        transform: scale(.6);
    }

    100% {
        transform: scale(1);
    }
}




.colors {
    color: whitesmoke;
}


.html {
    display: inline-block;
    position: absolute;
    left: 5%;
    top: 30%;
}

.header-caption {
    opacity: .8;
    display: block;
    font-size: 20px;
    font-family: raleway;
    padding: 8px;
    padding-top: 15px;
    color: whitesmoke;
    font-weight: 400;
}



.cursor {
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    background: transparent;
    pointer-events: none;
    position: fixed;
    top: -25px;
    left: -25px;
    z-index: 10;
    opacity: .6;
    transition: scale .5s ease;
}

.cursor-small {
    height: 50px;
    width: 50px;
    display: block;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    background: transparent;
    pointer-events: none;
    position: fixed;
    top: -25px;
    left: -25px;
    z-index: 10;
    opacity: .6;
    transition: scale .4s ease;
}


form {
    display: flex;
    flex-direction: column;
    height: auto;
    width: auto;
    align-items: center;
    position: relative;
}

.input-line {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.input-name {
    width: 40%;
    padding: 10px 20px;
    margin: 14px;
    border-radius: 8px;
    outline: none;
    background: #050505;
    border: none;
    color: whitesmoke;
    font-family: Montserrat;
    font-size: 18px;
}

.form-header {
    font-size: 24px;
    font-family: Montserrat;
    font-weight: 400;
    color: whitesmoke;
    padding: 28px;
}

.input-subject {
    width: 84%;
    padding: 10px 20px;
    margin: 24px;
    border-radius: 8px;
    outline: none;
    background: #050505;
    border: none;
    color: whitesmoke;
    font-family: Montserrat;
    font-size: 18px;
}

.input-textarea {
    width: 84%;
    padding: 10px 20px;
    margin: 15px;
    height: 150px;
    border-radius: 8px;
    outline: none;
    background: #050505;
    border: none;
    color: whitesmoke;
    font-family: Montserrat;
    font-size: 18px;
}

form button {
    padding: 8px 24px;
    font-family: Montserrat;
    font-size: 20px;
    color: whitesmoke;
    background: #BB0035;
    opacity: .8;
    margin: 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    transition: all .4s ease;
}

form button:hover {
    opacity: 1;
}

.icon {
    height: 40px;
    opacity: .8;
}

.footer {
    margin-top: 100px;
    background: #080808;
    width: 100%;
    color: whitesmoke;
    font-family: Montserrat;
    /* display: block; */
    /* flex-direction: row; */
    /* align-items: center; */
    padding: 35px;
}

.footer .footer-text {
    /* position: relative; */
    width: max-content;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    margin: 0 auto;
    justify-content: center;

}
